h1{
  color:blue;
}

.card{
    width: 60px;
    height: 90px;
    border: 1px solid;
    float: left;
    border-radius: 7px;
    text-align: center;
}

#field{
    width: 700px;
    height: 380px;
}

.back{
    background-image:url("images/z01.gif");
    background-size:cover;
}

.comp{
    opacity: 0;
}
